POSTGRES_DB=baac_dw
POSTGRES_USER=baac_user
POSTGRES_PASSWORD=change_me_local_only
POSTGRES_PORT=5432
METABASE_PORT=3000
BAAC_START_YEAR=2019
BAAC_END_YEAR=2024
DB_HOST=localhost
DB_PORT=5432
DB_NAME=baac_dw
DB_USER=baac_user
DB_PASSWORD=change_me_local_only
ETL_DRY_RUN=false
